<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel ="icon" href="/img/weathericon.png">
        <link rel="stylesheet", href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>
            This site is used data provided by other websites like weatherstack.com and mapbox.com
        </p>
        <img class ="portrait"src="./img/me.jpg">
        </div>
        {{>footer}}
    </body>
</html>