<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel ="icon" href="/img/weathericon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body background="/img/weathernew.jpg">
        <div class="main-content">
        {{>header}}
        <p> <font color="sky blue">Required help is here </font></p>
        </div>
        {{>footer}}
    </body>
</html>