<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel ="icon" href="/img/weathericon.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body background="/img/weathernew.jpg">
        <div class ="main-content">

        {{>header}}
        <p><font color="sky blue">To know current weather condition of any city, Please enter city</font></p>
        <form>
            <input placeholder="location">
            <button>search</button>
        </form>
        <font color="orange">
        <p id="message-1"></p>
        <p id="message-2"></p>
        </font>
        </div>
       
       
        {{>footer}}

        <script src="./js/app.js"></script>
    </body>
</html>