

<header>
    <h1><font color="blue">{{title}}</font></h1>

    <a href="/"><font color="white">Weather</font></a>
    <a href="/about"><font color="white">About us</font></a>
    <a href="/help"><font color="white">Help</font></a>
    
</header>